.App {
  display: grid;
  grid-template-columns: 15% 60% 10% 15%;
  grid-template-rows: 30% 25% 15% 35%;
}

.game-button {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 150px;
  height: 40px;
  margin: 100px auto !important;
}

.number {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
  color: #6c96d4;
  border: 1px solid #6c96d4;
  border-radius: 20%;
}

.input-letter {
  grid-column-start: 2;
  grid-row-start: 3;
  width: 250px;
  height: 40px;
  margin: 0 auto !important;
}
